#outer-box{
    height:500px;
    width:600px;
    background-color:rgb(219, 225, 250);
    margin-left: 350px;
    margin-top: 50px;


}

h4,h1{
    font-family: sans-serif;


}

#inside-div1{

    height:50px;
    width:200px;
    margin-left:35%;
}

#inside-div{
    height:400px;
    width:500px;
    /* background-color: brown; */
    margin-top: 40px;
    margin-left:10% ;
    display: flex;
    justify-content:center;
 
}
.carasouel-container{
    background-color:white;
    height:300px;
    width:450px;
    border-radius: 10px;
    
}

.image-container img{
    height:100px;
    width:100px;
    border-radius:50%;
    margin-left: 40%;
    margin-top: 5px;
}

.name-container{
    height:50px;
    width:100px;
    /* background-color: rgb(246, 167, 167); */
    margin-left: 40%;
    margin-top: -20px;
}

.div3{
   
    height:30px;
    width:50px;
    margin-top: -10%;
    margin-left:50%;
   
  
}


#surprise-container{
    margin-left:45%;
}


